<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

	<!-- ============================================================
	     APPLICATION
	     ============================================================ -->

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<key>CFBundleDisplayName</key>
	<string>Rentocar</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>Rentocar</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>


	<!-- ============================================================
	     LAUNCH SCREEN
	     ============================================================ -->

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string>Main</string>


	<!-- ============================================================
	     ORIENTATION
	     ============================================================ -->

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>


	<!-- ============================================================
	     CAMERA
	     Used by image_picker when taking photos.
	     ============================================================ -->

	<key>NSCameraUsageDescription</key>
	<string>Rentocar needs access to your camera to take photos when required.</string>


	<!-- ============================================================
	     PHOTO LIBRARY
	     Used by image_picker when selecting existing photos.
	     ============================================================ -->

	<key>NSPhotoLibraryUsageDescription</key>
	<string>Rentocar needs access to your photos so you can select images when required.</string>


	<!-- ============================================================
	     PHOTO LIBRARY ADD
	     Used if the app saves images to the Photos library.
	     ============================================================ -->

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Rentocar needs permission to save images to your photo library when required.</string>


	<!-- ============================================================
	     FIREBASE CLOUD MESSAGING
	     Background remote notifications.
	     ============================================================ -->

	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>


	<!-- ============================================================
	     FLUTTER
	     ============================================================ -->

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>


	<!-- ============================================================
	     DISPLAY / PERFORMANCE
	     ============================================================ -->

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

</dict>
</plist>